.footer {
  margin: 67px auto 60px;
  width: calc(100% - 400px);
}

@media screen and (max-width: 1023px) {
  .footer {
    width: calc(100% - 150px);
  }
}

@media screen and (max-width: 767px) {
  .footer {
    margin: 48px auto 36px;
    width: calc(100% - 36px);
  }
}
